body{
    background-image: url('thyroid.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

#flex1{
    background-color: rgb(251, 252, 252);
    height: 800px;
    width: 1000px;
    margin: 200px;
    padding: 30px;
    border: 10px solid black;
}

#flex2{
    background-color: rgb(251, 252, 252);
    height: 200px;
    width: 1000px;
    margin: 200px;
    padding: 30px;
    border: 10px solid black;
}

#result
{
color: black;
font-weight: bold;
font-size: 50px;
}

h1 {
    text-align: center;
    color: rgb(99, 6, 96);
}

label {
    color: rgb(99, 6, 96);
    font-weight: bold;
    font-size: 20px;
    width: 300px;
    display: inline-block;
}

input {
    width: 500px;
    height: 30px;
    border-width: 3px;
    border-color: rgb(99, 6, 96);
    font-size: 15px;
    padding-left: 5px;
}

select {
    width: 513px;
    height: 40px;
    border-width: 3px;
    border-color: rgb(99, 6, 96);
    font-size: 15px;
    padding-left: 5px;
}

